name: Release-plz

on:
    push:
        branches:
            - main

jobs:
    release-plz-release:
        name: Release-plz release
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
            - uses: release-plz/action@efc7a2b896608c31370cd499ba1518cda3ac5660 # v0.5
              with:
                  command: release
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

    release-plz-pr:
        name: Release-plz PR
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        concurrency:
            group: release-plz-${{ github.ref }}
            cancel-in-progress: false
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
              with:
                  fetch-depth: 0
                  persist-credentials: false
            - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
            - uses: release-plz/action@efc7a2b896608c31370cd499ba1518cda3ac5660 # v0.5
              with:
                  command: release-pr
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_PLZ_TOKEN }}
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
